<div class="contact-wrapper">
  <h3 class="page-title">Contact</h3>
  <h6>Contact Us for copyrights and new bhajans</h6>
  <form [formGroup]="form" (ngSubmit)="createPost($event)" novalidate>
    <div class="form-group">
      <label class="center-block">Email:
        <input class="form-control" formControlName="email">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Phone:
        <input class="form-control" formControlName="phone">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">Concern:</label>
        <textarea class="form-control" formControlName="concern"></textarea>
    </div>
    <button type="submit">submit</button>
  </form>
</div>