.contact-wrapper {
  color: #fff;
}
.contact-wrapper input {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
}
.contact-wrapper textarea {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
  opacity: 0.8;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
  opacity: 0.8;
}
h5 {
  text-align: center;
  padding-bottom: 4vh;
}
button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  width: 100px;
  height: 34px;
  margin-bottom: 25px;
}
.btn-wrapper {
  text-align: center;
}
label {
  font-weight: 400;
  letter-spacing: 1px;
}
.form-group {
  margin-bottom: 25px;
}