<div class="contact-wrapper">
  <h3 class="page-title">Contact</h3>
  <h5>Contact Us for copyrights and new bhajans</h5>
  <div class="form-wrapper col-sm-4 col-sm-offset-4 ">
    <form [formGroup]="form" (ngSubmit)="createPost($event)" novalidate>
      <div class="form-group">
        <label class="center-block">Email:</label>
          <input class="form-control" formControlName="email" placeholder="Your Email">
      </div>
      <div class="form-group">
        <label class="center-block">Phone:</label>
          <input class="form-control" formControlName="phone" placeholder="Your Phone">
      </div>
      <div class="form-group">
        <label class="center-block">Concern:</label>
          <textarea class="form-control" formControlName="concern" placeholder="Your Concern"></textarea>
      </div>
      <div class="btn-wrapper">
        <button type="submit">SUBMIT</button>
      </div>
    </form>
  </div>
</div>