<!-- <div>
  <tabset>
    <a routerLink="/contact-form" >form</a>
    <tab heading="Static Title 1">Static content 1</tab>
    <tab heading="Static Title 2">Static content 2</tab>
    <tab (select)="alertMe()">
      <ng-template tabHeading>
        <span class="badge badge-secondary">Click here!</span>
      </ng-template>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab>
  </tabset>
</div> -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
              <button type="button" 
                      class="navbar-toggle collapsed"
                      (click)="toggleState()">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Project Manager</a>
      </div>
       <div class="collapse navbar-collapse"
            [ngClass]="{ 'in': isIn }">
          <ul class="nav navbar-nav">
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="">Categories</a></li>
              <li><a routerLink="/videos">Videos</a></li>
              <li><a routerLink="/contact">Contact Us</a></li>
          </ul>
      </div>
  </div>
</nav>