<a class="see-all" routerLink="/videos">
  <h6>See all</h6>
</a>
<div class="list-wrapper">
  <div *ngFor="let videos of videoList;  let i=index">
    <div class="list" (click)="setUrl(videos.url)" *ngIf="i<16">
      <div class="list-img-div">
        <img src={{videos.thumbnail}} alt="thumbnail" />
      </div>
      <div>
        <h4 class="list-title">{{videos.title}}</h4>
        <div class="list-duration-artist">
          <span><p class="lyricist-text"><i class="glyphicon glyphicon-pencil"></i>{{videos.lyricist}}</p></span>
          <span><p class="artist-text"><i class="fa fa-microphone"></i>{{videos.singer}}</p></span>
        </div>
      </div>
    </div>
  </div>
</div>