.playlist-wrapper {
  color: #fff;
  padding-top: 20px;
}
.playlist-inline {
  width: 100%;
  display: inline-block;
}
.list {
  display: flex;
  width: 30%;
  float: left;
  border: 2px solid #fff;
  margin: 16px;
  border-radius: 5px;
  height: 120px;
}
img {
  width: auto;
  height: 100px;  
  margin-top: 10px;
  margin-left: 5px;
}
.playlist-title {
  height: 85px;
  line-height: 100px;
  white-space: nowrap;
  margin-left: 22px;
}
a {
  width: 100%;
  display: flex;
  color: #fff;
}