.video-wrapper {
  display: flex;
}
.video-wrapper video-frame {
  width: 65%;
  background-color: #000;
  background-image: url("assets/images/loading.gif");
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: center;
  height: 450px;
}
.video-wrapper video-list {
  width: 34%;
}